<!DOCTYPE html>
<html>
  <head>
    <title>Drawing App</title>
    <script type="text/javascript" src="{{ url_for('static', filename='jquery_1_4_1.js') }}"></script>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles_draw.css') }}">
    <script type="text/javascript" src="{{ url_for('static', filename='draw.js') }}"></script>

</head>
    <header>
     Sifrleri özleşdirmek
    </header>

<body>
    <form id = "myForm" action="{{ url_for('detect_digit')}}" method="POST" enctype="multipart/form-data">
        <canvas id="canvas", name ="draw" width="400" height="400">
        <script type="text/javascript">
            $(document).ready(function() {
                drawCanvas();
            });
        </script>
        </canvas>
        <input type="hidden" id = 'url' name="url" value="">
        <input type="submit" id = 'predict' value="Tana" onclick="return save();">
        <a href="/" class="button" style="margin-top: 10px;">Yza</a>
    </form>
    
    </body>
</html>